<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row px-5">
                <h2 class="text-center">Confira a disponibilidade de nossos quartos</h2>
            </div>
            <div class="row px-5">
                <form class="form-control-sm">
                    <div class="form-floating form-sm mb-3">
                        <input type="date" class="form-control" id="floatingArrival" placeholder="data de chegada" >
                        <label for="floatingArrival">data de chegada</label>
                    </div>
                    <div class="form-floating form-sm mb-3">
                        <input type="date" class="form-control" id="floatingDeparture" placeholder="data de partida">
                        <label for="floatingDeparture">data de partida</label>
                    </div>
                    <div class="form-floating form-sm mb-3">
                        <input type="number" min="1" max="10" step="1" class="form-control" id="floatingRooms" placeholder="número de quartos">
                        <label for="floatingRooms">número de quartos</label>
                    </div>
                    <div class="form-floating form-sm mb-3">
                        <input type="number" min="1" max="10" step="1" class="form-control" id="floatingPeople" placeholder="número de pessoas">
                        <label for="floatingPeople">número de pessoas</label>
                    </div>
                    <div class="d-grid col-2 mx-auto">
                        <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6">
            <img src="../../assets/receptionist.png" alt="" class="img-fluid">
        </div>
    </div>
</div>