
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button routerLink="reservation" routerLinkActive="active-link" class="nav-link" id="v-pills-reservation-tab" data-bs-toggle="pill" type="button" role="tab">Reservas</button>
          <button routerLink="customer/list" routerLinkActive="active-link" class="nav-link" id="v-pills-customerlist-tab" data-bs-toggle="pill" type="button" role="tab">Lista Clientes</button>
          <button routerLink="customer/registration" routerLinkActive="active-link" class="nav-link" id="v-pills-customerregistration-tab" data-bs-toggle="pill" data-bs-target="#v-pills-customerregistration" type="button" role="tab" aria-controls="v-pills-customerreservation" aria-selected="true">Registrar Cliente</button>
          <button routerLink="room/list" routerLinkActive="active-link" class="nav-link" id="v-pills-roomlist-tab" data-bs-toggle="pill" data-bs-target="#v-pills-roomlist" type="button" role="tab" aria-controls="v-pills-roomlist" aria-selected="true">Lista Quartos</button>
          <button routerLink="room/create" routerLinkActive="active-link" class="nav-link" id="v-pills-roomcreate-tab" data-bs-toggle="pill" data-bs-target="#v-pills-roomcreate" type="button" role="tab" aria-controls="v-pills-roomcreate" aria-selected="true">Adicionar Quarto</button>
        </div>
        <div class="tab-content mx-auto w-100" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills" role="tabpanel"><router-outlet></router-outlet></div>
        </div>
      </div>
