<div class="container">
    <form (ngSubmit)="submit()" class="col g-3 needs-validation col-6 mx-auto " novalidate>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingName" placeholder="nome">
            <label for="floatingName">Nome</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingID" placeholder="id">
            <label for="floatingID">ID</label>
        </div>
        <div class="d-grid col-2 mx-auto my-5">
            <button type="submit" class="btn btn-warning">Entrar</button>
        </div>
    </form>
</div>