<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-reservation-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-Reservation" type="button" role="tab" aria-controls="v-pills-reservation"
                        aria-selected="true">Reservas</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Perfil</button>
                    <button class="nav-link" id="v-pills-logout-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-logout" type="button" role="tab" aria-controls="v-pills-logout"
                        aria-selected="false">Sair</button>
                </div>
            </div>
        </div>
        <div class="col-10">
            <h2 class="mb-5">Olá, customer.firstName</h2>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Tipo de Acomodação</th>
                            <th scope="col">Data de Chegada</th>
                            <th scope="col">Data de Partida</th>
                            <th scope="col">Preço Total</th>
                            <th scope="col">Situação</th>
                            <th scope="col">Reserva</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quarto Single</td>
                            <td>21/11/2021</td>
                            <td>23/11/2021</td>
                            <td>R$ 240,00</td>
                            <td>vigente</td>
                            <td><button class="btn btn-warning">Cancelar</button></td>
                        </tr>
                        <tr>
                            <td>Quarto Single</td>
                            <td>12/10/2021</td>
                            <td>14/11/2021</td>
                            <td>R$ 240,00</td>
                            <td>cancelado</td>
                            <td><button class="btn btn-warning">Cancelar</button></td>
                        </tr>
                        <tr>
                            <td>Quarto Single</td>
                            <td>10/07/2021</td>
                            <td>12/07/2021</td>
                            <td>R$ 240,00</td>
                            <td>pago</td>
                            <td><button class="btn btn-warning">Cancelar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>